/*     header     */


/*   under header section   */

/*   central container   */

/*   partners    */

/*     operations     */

/*     business     */

/*     team     */

/*     try it     */

/*     faq    */

/*     footer         */
#site_footer{background-color: black;}
#footer_container{background-color: aqua;}
#footer_box{background-color: red;}
#lang_footer{background-color: plum;}
.box{background-color: greenyellow;}

